* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
}

.main {
  background-color: #232834;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advice {
  max-width: 55rem;
  width: 90%;
  background-color: #323a49;
  padding: 3rem 2rem;
  text-align: center;
  position: relative;
  border-radius: 2rem;
}

.advice-title {
  font-size: 1.6rem;
  color: #52ffa8;
  margin-bottom: 2rem;
  letter-spacing: 0.5rem;
}

.advice-text {
  margin-bottom: 2rem;
  color: #cee3e9;
  font-size: 2.4rem;
  font-weight: 800;
}

.advice-text::before {
  content: "\201C";
  display: inline-block;
}
.advice-text::after {
  content: "\201D";
  display: inline-block;
}

.advice-line img {
  width: 100%;
}

.advice-btn {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  background: #52ffa8;
  height: 3.5rem;
  width: 3.5rem;
  border: none;
  outline: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.advice-btn img {
  height: 60%;
  width: 60%;
  transform: rotate(0);
  transition: all 0.5s;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
